<section class="vh-100" style="background-color: #eee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">
            <h4 class="text-center my-3 pb-3">My To Do List | Elogica</h4>
            <div class="text-center col-12">
              <button
                (click)="signin()"
                *ngIf="!loggedIn"
                class="btn btn-danger"
              >
                Login com o Google 
              </button>
              <button
                (click)="signout()"
                *ngIf="loggedIn"
                class="btn btn-danger"
              >
                Sair da conta
              </button>
           </div>
            <div
              class="row row-cols-lg-auto g-3 justify-content-center align-items-center my-4"
            >
            <div class="col-12">
              <input [(ngModel)]="newTaskTitle" type="text" [disabled]="!loggedIn" class="title">
              <button class="btn btn-outline-primary " [disabled]="!loggedIn" (click)="addTask()">
                Add Task
              </button>
            </div>
               
                  <div class="col-12">
                    <button
                      class="btn btn-warning"
                      (click)="sync()"
                      [disabled]="!loggedIn"
                    >
                      Atualizar
                    </button>
              </div>
            </div>

            <table class="table mb-4">
              <thead>
                <tr>
                  <th scope="col">Tarefas</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let task of allTasks">
                  <td>{{ task.title }}</td>
                  <button
                      class="badge bg-success mx-2"
                      (click)="completed(task)"
                    >
                      Check
                    </button>
                    <button class="badge bg-danger mx-2" (click)="del(task)">
                      Delete
                    </button>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>